/* defining global variables here */
/* ------------------color palette -----------------*/
:root {
  --color-primary: #2584ff;
  --color-secondar: #00d9ff;
  --color-accent: #ff3400;

  --color-heading: #1b0760;
  --color-body: #918ca4;
}

/* ------------------typography-------------------- */
html {
  /* set the font size 62.5% of default size (16px) = 10px = 1rem */
  font-size: 62.5%;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  /* font-sizes are according to mobile-first */
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1 {
  font-size: 7rem;
  color: var(--color-heading);
  margin-bottom: 1rem;
}

h2 {
  font-size: 4rem;
  color: var(--color-heading);
  margin-bottom: 1rem;
}

h3 {
  font-size: 3rem;
  color: var(--color-heading);
  margin-bottom: 1rem;
}

p {
  margin: 1rem;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}
