<section class="block block--dark block--sckewed-left">
  <div class="container">
    <div class="block__header">
      <h2 class="block__heading">Light Block</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis cumque
        ea quibusdam ab repellat molestias nihil sint, alias nobis ad.
      </p>
    </div>
  </div>
</section>
<section class="block container">
  <div class="block__header">
    <h2 class="block__heading">Light Block</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis cumque ea
      quibusdam ab repellat molestias nihil sint, alias nobis ad.
    </p>
  </div>
</section>
<section class="block block--dark">
  <div class="container">
    <div class="block__header">
      <h2 class="block__heading">Light Block</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis cumque
        ea quibusdam ab repellat molestias nihil sint, alias nobis ad.
      </p>
    </div>
  </div>
</section>
<section class="block block--dark block--sckewed-right">
  <div class="container">
    <div class="block__header">
      <h2 class="block__heading">Light Block</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis cumque
        ea quibusdam ab repellat molestias nihil sint, alias nobis ad.
      </p>
    </div>
  </div>
</section>
