    <div class="callout" > 
      <div class="grid grid--1x2">
        <div class="callout__content">
          <h3 class="callout__header">Ready to Get Started?</h3>
          <p class="callout__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore
            perspiciatis veritatis, officiis voluptates consequatur sit
            doloremque animi eaque facilis quidem aperiam molestias in, nostrum
            qui atque delectus, voluptate debitis neque.
          </p>
        </div>
        <div class="callout__button">
          <button class="btn btn--primary">GET STARTED</button>
        </div>
      </div>
    </div>