<div class="collapsible">
    <div class="collapsible__header">
      <h3 class="collapsible__header-text">Item I</h3>
      <img
        class="icon collapsible__chevron"
        src="icons/chevron.svg"
        alt="chevron icon"
      />
    </div>
    <div class="collapsible__content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta at
        expedita fuga nostrum distinctio atque voluptatibus nisi reiciendis,
        aperiam numquam, sed voluptas, aliquam fugiat consequatur illo
        voluptate architecto? Necessitatibus ut doloribus aliquam beatae,
        tenetur officia nobis corporis aperiam cumque dolor dolorum alias
        commodi nesciunt magni id velit molestias inventore deleniti?
      </p>
    </div>
  </div>
  <div class="collapsible collapsible--expanded">
    <div class="collapsible__header">
      <h3 class="collapsible__header-text">Item II</h3>
      <img
        class="icon collapsible__chevron"
        src="icons/chevron.svg"
        alt="chevron icon"
      />
    </div>
    <div class="collapsible__content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta at
        expedita fuga nostrum distinctio atque voluptatibus nisi reiciendis,
        aperiam numquam, sed voluptas, aliquam fugiat consequatur illo
        voluptate architecto? Necessitatibus ut doloribus aliquam beatae,
        tenetur officia nobis corporis aperiam cumque dolor dolorum alias
        commodi nesciunt magni id velit molestias inventore deleniti?
      </p>
    </div>
  </div>
  <script src="js/main.js"></script>