<section class="block container feature-block">
    <div class="block__header">
      <h2 class="block__heading">Host on the Cloud to Keep Growing</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
        cumque ea quibusdam.
      </p>
    </div>
    <div class="grid grid--1x2 feature-block__container">
      <div class="feature-block__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use href="icons/sprite.svg#easy"></use>
          </svg>
        </span>
        <h3>Simply Fast Websites</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum labore
          deleniti ipsum, harum at facilis nisi in architecto quaerat ab.
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <div>
        <img
          class="feature-block__Image"
          src="images/easy.jpg"
          alt="a diagram"
        />
      </div>
    </div>

    <div class="grid grid--1x2 feature-block__container">
      <div class="feature-block__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use href="icons/sprite.svg#easy"></use>
          </svg>
        </span>
        <h3>Wordpress Made Easy</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum labore
          deleniti ipsum, harum at facilis nisi in architecto quaerat ab.
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <div>
        <img
          class="feature-block__Image"
          src="images/fast.jpg"
          alt="a diagram"
        />
      </div>
    </div>

    <div class="grid grid--1x2 feature-block__container">
      <div class="feature-block__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use href="icons/sprite.svg#wordpress"></use>
          </svg>
        </span>
        <h3>24/7 Expert Support</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum labore
          deleniti ipsum, harum at facilis nisi in architecto quaerat ab.
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <div>
        <img
          class="feature-block__Image"
          src="images/wordpress.jpg"
          alt="a diagram"
        />
      </div>
    </div>

    <div class="grid grid--1x2 feature-block__container">
      <div class="feature-block__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use href="icons/sprite.svg#easy"></use>
          </svg>
        </span>
        <h3>Super easy to use</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum labore
          deleniti ipsum, harum at facilis nisi in architecto quaerat ab.
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <div>
        <img
          class="feature-block__Image"
          src="images/support.jpg"
          alt="a diagram"
        />
      </div>
    </div>
  </section>