<footer class="block block--dark footer-block">
    <ul class="list footer-block__category">
      <li class="collapsible">
        <div class="collapsible__header">
          <h3 class="collapsible__header-text">PRODUCTS</h3>
          <img
            class="icon collapsible__chevron"
            src="icons/chevron.svg"
            alt="chevron icon"
          />
        </div>
        <ul class="list collapsible__content">
          <li class="footer-block__item"><a href="#">Website Hosting</a></li>
          <li class="footer-block__item">
            <a href="#">Free Automated Wordpress</a>
          </li>
          <li class="footer-block__item"><a href="#">Migrations</a></li>
        </ul>
      </li>
    </ul>
    <ul class="list footer-block__category">
      <li class="collapsible">
        <div class="collapsible__header">
          <h3 class="collapsible__header-text">COMPANY</h3>
          <img
            class="icon collapsible__chevron"
            src="icons/chevron.svg"
            alt="chevron icon"
          />
        </div>
        <ul class="list collapsible__content">
          <li class="footer-block__item"><a href="#">About</a></li>
          <li class="footer-block__item"><a href="#">Affiliates</a></li>
          <li class="footer-block__item"><a href="#">Blog</a></li>
        </ul>
      </li>
    </ul>
    <ul class="list footer-block__category">
      <li class="collapsible">
        <div class="collapsible__header">
          <h3 class="collapsible__header-text">SUPPORT</h3>
          <img
            class="icon collapsible__chevron"
            src="icons/chevron.svg"
            alt="chevron icon"
          />
        </div>
        <ul class="list collapsible__content">
          <li class="footer-block__item"><a href="#">Contact</a></li>
          <li class="footer-block__item"><a href="#">Knowledge Base</a></li>
          <li class="footer-block__item"><a href="#">FAQ</a></li>
        </ul>
      </li>
    </ul>
    <ul class="list footer-block__category">
      <li class="collapsible">
        <div class="collapsible__header">
          <h3 class="collapsible__header-text">DOMAINS</h3>
          <img
            class="icon collapsible__chevron"
            src="icons/chevron.svg"
            alt="chevron icon"
          />
        </div>
        <ul class="list collapsible__content">
          <li class="footer-block__item"><a href="#">Domain Checker</a></li>
          <li class="footer-block__item"><a href="#">Domain Transfer</a></li>
          <li class="footer-block__item"><a href="#">Free Domain</a></li>
        </ul>
      </li>
    </ul>
    <div class="footer-block__logo">
      <img src="icons/logo.svg" alt="logo" />
      <p>Copyright 2020 Mosh Hamedani</p>
    </div>
  </footer>