<div class="container grid grid--1x3 plans-block">
    <div class="plan">
      <div class="card card--secondary">
        <div class="card__header">
          <h3>Entry</h3>
          <p>
            <strong>$14</strong>/month
            <span class="badge badge--secondary badge--small">10% OFF</span>
          </p>
          <p>Easy start on cloud</p>
        </div>
        <div class="card__body">
          <ul class="list list--vertical">
            <li class="list__item">Unlimited Websites</li>
            <li class="list__item">Unlimited Bandwidths</li>
            <li class="list__item">300GB SSD Storage</li>
            <li class="list__item">3GB RAM</li>
          </ul>
          <button class="btn btn--secondary btn--stretch btn--outline">
            Buy now
          </button>
        </div>
      </div>
    </div>
    <div class="plan plan--popular">
      <div class="card card--primary card--bigger">
        <div class="card__header">
          <h3>Entry</h3>
          <p>
            <strong>$14</strong>/month
            <span class="badge badge--secondary badge--small">10% OFF</span>
          </p>
          <p>Easy start on cloud</p>
        </div>
        <div class="card__body">
          <ul class="list list--vertical">
            <li class="list__item">Unlimited Websites</li>
            <li class="list__item">Unlimited Bandwidths</li>
            <li class="list__item">300GB SSD Storage</li>
            <li class="list__item">3GB RAM</li>
          </ul>
          <button class="btn btn--secondary btn--stretch btn--outline">
            Buy now
          </button>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--secondary">
        <div class="card__header">
          <h3>Entry</h3>
          <p>
            <strong>$14</strong>/month
            <span class="badge badge--secondary badge--small">10% OFF</span>
          </p>
          <p>Easy start on cloud</p>
        </div>
        <div class="card__body">
          <ul class="list list--vertical">
            <li class="list__item">Unlimited Websites</li>
            <li class="list__item">Unlimited Bandwidths</li>
            <li class="list__item">300GB SSD Storage</li>
            <li class="list__item">3GB RAM</li>
          </ul>
          <button class="btn btn--secondary btn--stretch btn--outline">
            Buy now
          </button>
        </div>
      </div>
    </div>
  </div>