<div class="quote">
    <blockquote>
      <p class="quote__content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus,
        sint perferendis laudantium incidunt iure minima dolorem modi vero earum
        rerum.
      </p>
    </blockquote>
    <div class="media">
      <div class="media__icon quote-author-line">
        <svg class="icon icon--primary">
          <use href="icons/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__content">
        <h3 class="media__title">John Smith</h3>
        <p class="media__body">ABC Company</p>
      </div>
    </div>
  </div>