<div class="grid grid--1x2 testimonial">
    <div class="testimonial__image">
      <img src="images/testimonial.jpg" alt="photo of john smith" />
      <span class="icon-container">
        <svg class="icon">
          <use href="icons/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <div class="quote">
      <blockquote>
        <p class="quote__content testimonial__content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
          asperiores saepe omnis qui beatae commodi in quam minima. Sit,
          voluptatem?
        </p>
      </blockquote>
      <div class="media testimonial__author">
        <div class="media__icon quote-author-line">
          <svg class="icon icon--primary">
            <use href="icons/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__content">
          <h3 class="media__title">John Smith</h3>
          <p class="media__body">ABC Company</p>
        </div>
      </div>
    </div>
  </div>